extends ../layout.pug

block content
  h1= title

  
  each book in book_list
      
    div( style="background-color: rgb(232,232,232);border: solid 1px grey; min-height:50px; margin:10px;" )
      a(href=book.url) #{book.title} 
      |  (#{book.author.name})

  else
    p There are no books.
