extends layout/layout.pug 

block scripts 
  link(rel="script", href="/javascripts/collapsible.js")
  link(rel="stylesheet", href="collapsible.css")

block content
  h1= message
  h2= error.status
  //- button(type="button").collapsible open error
  //- .content 
  //-   p
  //-     pre(style="color:white;background-color:black; border-radius:5px;padding:2px") #{error.stack}
