extends layout 

block content 
    h1 #{title}:  #{genre.name}
    
    if genre.books 


    else 
        p Do you really want to delete this Genre?

        form(method="POST" action="")
            .form-group 
                input#genreid.form-control(type="hidden" ,name="genreid", required="true",value=genre.id)
                
            button.btn.btn-danger(type="submit") Delete forever