extends layout/layout.pug 

block content 
    a(href="/coin")
        h1 wanna flip a Coin?
    
    a(href="/catalog")
        h1 browse our collection of books?

    //- a(href="/isbn")
    //-     h3 browse all book with a isbn number?
    
    if(workregister)
        a(href="/fischertechnik/taskmanager") 
            h1 Taskmanager 
        a(href="/fischertechnik/dashboard")
            h1 task dashboard