extends layout 

block content 
    a(href="/coin")
        h1 wanna flip a Coin?
    
    a(href="/catalog")
        h1 browse our collection of books?

    a(href="/isbn")
        h3 brows all book with a isbn number?