extends layout/layout.pug 

block scripts 
    link(rel="stylesheet", href="/stylesheets/ChaosTheme.css")

block content 
    .container 

        .card
            a.pictureContainer(href="/coin")
                img(src="images/coin.png", alt="image link for flipping a coin")
            a.name(href="/coin")
                h1 wanna flip a Coin?
            .buyContainer
                p hello world 

    
        a(href="/catalog")
            h1 browse our collection of books?

    //- a(href="/isbn")
    //-     h3 browse all book with a isbn number?
    
    if(workregister)
        a(href="/fischertechnik/taskmanager") 
            h1 Taskmanager 
        a(href="/fischertechnik/dashboard")
            h1 task dashboard