.sidebar-nav {
  background-color: rgb(241, 243, 246);
  color: black;
  margin-top: 10px;
  padding: 0px;
  padding-bottom: 10px;
  list-style: none;
  min-height: 100px;
}

.sidebar-nav a {
  display: block;
  color: black;
  color: var(--Theme-test);
  margin: 0px;
  min-height: 20px;
  padding-left: 20px;
}

.sidebar-nav a:hover {
  display: block;
  text-decoration: none;
  color: black;
  background-color: rgb(237, 237, 237);
}